body{

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.big{

    font-size: 100px;
}

.centro{

    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1, h2, h3, h4{

    cursor: pointer;
}

.meio{

    width: 50%;
}

.pequeno{

    width: 20%;
}
